body{
    background-color: rgb(25, 25,55);

}

h1{
    color : aqua;
    text-transform: uppercase;
    text-align: center;

}

p{
    font-size : 20px;
    color :aliceblue
}
.GitHub{
    color : white;
    font-size : 25px;
    text-align: center;
    margin-left: 45%;
    text-decoration: none;
}

